.price span {
    font-size: 16px;
    color: #565656;
}

.product-title, .product-description, .price {
    margin-bottom: 15px;
}

#info {
    margin-left: 20px;
}

.upgrade-btn {
    color: #ffffff;
    background: #1977cc;
    border-radius: 50px;
}

.upgrade-btn:hover {
    color: #ffffff;
    background: #3291e6;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}